.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    margin-top: 5px;
    
  }

  .badge1{
    background-color: tomato;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:25px;
    left:30px;
  }